body {
  margin: 0;
}

main {
  width: 400vh;
}

header {
  display: flex
  ;
}

.banner {
  background-image: url("./imagebanner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  width: 3800px;
  height: 300px;
  display: flex;
  position: relative;
}

.logo {
  background-image: url("./logo.png");
  z-index: 1;
  width: 328px;
  height: 72px;
  margin: 0;
}

.oscar {
  background-image: url("./oscar.svg");
  z-index: 1;
  width: 20px;
  height: 20px;
  padding-right: 20px;
  background-repeat: no-repeat;
  margin: 0;

}

.play {
  background-image: url("./play.svg");
  z-index: 1;
  width: 20px;
  height: 20px;
  padding-right: 20px;
  background-repeat: no-repeat;
  margin: 0;
}

.icon {
  color: white;
}